@model Vidlyy.ViewModels.CustomerViewModel
@*@using Vidlyy.Models*@
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var classname = Model.Customers.Count > 0 ? "popular" : null;
}


<h1 class="@classname">Customers</h1>
<h3>Customer</h3>

@{
    if (Model.Customers.Count == 0)
    {
        <text>We don't have customers yet.</text>
    }
    else
    {
        <ul>
            @foreach (var customer in Model.Customers)
            {
                <li>@customer.Name</li>
            }
        </ul>
    }
}




